<form clrForm clrLayout="horizontal" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm">

  <div id="div_usager_information" class="card">
    <div class="card-block">

      <clr-date-container class="clr-row">
        <label class="clr-col-12 clr-col-md-2" i18n>Date</label>
        <input class="clr-col-12 clr-col-md-4" type="date" name="somethingAutofillDoesntKnowDate" required autocomplete="doNotAutoComplete" clrDate [(ngModel)]="bills.date"/>
        <clr-control-error *clrIfError="'required'" i18n>This field is required!</clr-control-error>
      </clr-date-container>

      <clr-input-container class="clr-row">
        <label class="clr-col-12 clr-col-md-2" i18n>Description</label>
        <input class="clr-col-12 clr-col-md-4" type="text" clrInput name="somethingAutofillDoesntKnowDescription" required autocomplete="doNotAutoComplete" [(ngModel)]="bills.description" #description="ngModel" />
        <clr-control-error *clrIfError="'required'" i18n>This field is required!</clr-control-error>
      </clr-input-container>

      <clr-input-container class="clr-row">
        <label class="clr-col-12 clr-col-md-2" i18n>Amount</label>
        <input class="clr-col-12 clr-col-md-4" type="number" clrInput name="amount" required [(ngModel)]="bills.amount" #amount="ngModel"/>
        <clr-control-error *clrIfError="'required'" i18n>This field is required!</clr-control-error>
        <clr-control-error *clrIfError="'invalid'" i18n>Amount invalid!</clr-control-error>
      </clr-input-container>

      <clr-select-container class="clr-row">
        <label class="clr-col-12 clr-col-md-2" i18n>Payer</label>
        <select class="clr-col-12 clr-col-md-4" clrSelect name="payer" [(ngModel)]="bills.payer_id">
          <option *ngFor="let parent of parents" [ngValue]="parent.id">{{parent.name}}</option>
        </select>
      </clr-select-container>

      <clr-select-container class="clr-row">
        <label class="clr-col-12 clr-col-md-2" i18n>Payee</label>
        <select class="clr-col-12 clr-col-md-4" clrSelect name="payee" [(ngModel)]="bills.payee">
          <option value="All">All</option>
          <option value="Kids">Kids</option>
        </select>
      </clr-select-container>

      <clr-range-container class="clr-row">
        <label class="clr-col-12 clr-col-md-2" i18n>Ratio</label>
        <input class="clr-col-12 clr-col-md-4" type="range" clrRange min="0" max="1" step="0.05" [(ngModel)]="ratio" name="ratio" />
      </clr-range-container>


      <ng-container *ngIf="parents.length == 2">
        <div class="clr-row" >
          <label class="clr-col-6 clr-offset-md-2 clr-col-md-2">{{parents[0].name}}</label>
          <label class="clr-col-6 clr-col-md-2" style="text-align: right">{{parents[1].name}}</label>
        </div>

        <div class="clr-row" >
          <label class="clr-col-6 clr-offset-md-2 clr-col-md-2">{{(1-ratio).toFixed(2)}}</label>
          <label class="clr-col-6 clr-col-md-2" style="text-align: right">{{(ratio).toFixed(2)}}</label>
        </div>
      </ng-container>

      <div class="clr-row">
        <div class="clr-col-12 clr-col-md-2" style="margin-top: 20px;">
          <button class="btn btn-success btn-block" i18n>Save</button>
        </div>
        <div class="clr-col-12 clr-col-md-2" style="margin-top: 20px;">
          <button type="button" class="btn btn-warning btn-block" (click)="onCancel()" i18n>Cancel</button>
        </div>
        <div class="clr-col-12 clr-col-md-2" style="margin-top: 20px;">
          <button type="button" class="btn btn-danger btn-block" (click)="supprimerBill()" *ngIf="isEditMode()" i18n>Delete</button>
        </div>
      </div>
    </div>
  </div>
</form>
