<div class="login-wrapper">
  <form class="login" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <label class="title">
      <alert></alert>
      <div style="text-align: center; display:block">
        <img src="assets/icons/android-chrome-512x512.png" alt="fop" height="100%" width="100%" />

        <h1 i18n>fop</h1>
      </div>
    </label>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only" i18n>Email</label>
        <input type="text" name="email" clrInput i18n-placeholder placeholder="Email" [(ngModel)]="userLogin.email" #email="ngModel" />
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only" i18n>Password</label>
        <input type="password" name="password" clrPassword i18n-placeholder placeholder="Password" [(ngModel)]="userLogin.password" #password="ngModel" />
      </clr-password-container>
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid" i18n>Log in</button>
    </div>
  </form>
</div>
