<h3 i18n>Debts</h3>

<div *ngIf="!isExplain">
  <ng-container *ngFor="let debt of listComputedDebts">
    <span i18n>{{debt.owedBy.name}} owes {{debt.owedTo.name}} {{debt.owed | currency:'CAD':'symbol-narrow'}}</span><br/>
  </ng-container>
</div>

<div *ngIf="isExplain">
  <ng-container *ngFor="let debt of listDebts">
    <span  i18n>{{debt.owedBy.name}} owes {{debt.owedTo.name}} {{debt.owed | currency:'CAD':'symbol-narrow'}}</span><br/>
  </ng-container>
</div>

<button type="button" class="btn btn-sm btn-secondary" (click)="isExplain = !isExplain" i18n>
  {{isExplain ? "Summary" : "Explain"}}
</button>
