<h3 i18n>Bills</h3>
<clr-datagrid [(clrDgSingleSelected)]="selectedBills">
  <clr-dg-column i18n [clrDgSortBy]="'description'">
    Description
  </clr-dg-column>
  <clr-dg-column i18n [clrDgSortBy]="'amount'">
    Amount
  </clr-dg-column>
  <clr-dg-column i18n>
    Payer
  </clr-dg-column>
  <clr-dg-column i18n>
    Payee
  </clr-dg-column>
  <clr-dg-column i18n>
    Ratios
  </clr-dg-column>
  <clr-dg-column i18n [clrDgSortBy]="'date'">
    Date
  </clr-dg-column>

  <clr-dg-row *clrDgItems="let bills of listBills" [clrDgItem]="bills" (click)="selectBills(bills)" >
    <clr-dg-cell>{{bills.description}}</clr-dg-cell>
    <clr-dg-cell>{{bills.amount | currency:'CAD':'symbol-narrow'}}</clr-dg-cell>
    <clr-dg-cell>{{getFamilyMember(bills.payer_id).name}}</clr-dg-cell>
    <clr-dg-cell>{{bills.payee}}</clr-dg-cell>
    <clr-dg-cell>{{bills.ratios[0].value.toFixed(2)}} / {{bills.ratios[1].value.toFixed(2)}}</clr-dg-cell>
    <clr-dg-cell>{{bills.date | date}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
    <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]" i18n>bills per page</clr-dg-page-size>
    <ng-container i18n="paginator">{{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} bills</ng-container>
    </clr-dg-pagination>
  </clr-dg-footer>

  <clr-dg-action-bar>
    <div class="btn-group">
      <button type="button" class="btn btn-sm btn-secondary" (click)="addBills()" i18n>
        Add
      </button>
      <button type="button" class="btn btn-sm btn-secondary" (click)="editBills()" i18n>
        Edit
      </button>
      <button type="button" class="btn btn-sm btn-secondary" (click)="deleteBills()" i18n>
        Delete
      </button>
    </div>
  </clr-dg-action-bar>
</clr-datagrid>

<div style="margin-top: 10px">
  <button type="button" class="btn btn-sm btn-secondary" (click)="resolveBills()" i18n>
    Resolve
  </button>

  <a class="btn btn-sm btn-secondary" [routerLink]="['/bills/resolved']" routerLinkActive="active">View resolved bills</a>
</div>


<app-debt-summary></app-debt-summary>

