<h3 i18n>Bills resolved</h3>
<clr-datagrid (clrDgRefresh)="refreshBills($event)" [clrDgLoading]="loading">
  <clr-dg-column i18n [clrDgField]="'Description'">
    Description
  </clr-dg-column>
  <clr-dg-column i18n [clrDgField]="'Amount'">
    Amount
  </clr-dg-column>
  <clr-dg-column i18n [clrDgField]="'PayerId'">
    Payer
  </clr-dg-column>
  <clr-dg-column i18n>
    Payee
  </clr-dg-column>
  <clr-dg-column i18n>
    Ratios
  </clr-dg-column>
  <clr-dg-column i18n [clrDgField]="'Date'">
    Date
  </clr-dg-column>
  <clr-dg-column i18n [clrDgField]="'ResolvedDate'">
    Resolved Date
  </clr-dg-column>

  <clr-dg-row *ngFor="let bills of listBills">
    <clr-dg-cell>{{bills.description}}</clr-dg-cell>
    <clr-dg-cell>{{bills.amount | currency:'CAD':'symbol-narrow'}}</clr-dg-cell>
    <clr-dg-cell>{{getFamilyMember(bills.payer_id).name}}</clr-dg-cell>
    <clr-dg-cell>{{bills.payee}}</clr-dg-cell>
    <clr-dg-cell>{{bills.ratios[0].value.toFixed(2)}} / {{bills.ratios[1].value.toFixed(2)}}</clr-dg-cell>
    <clr-dg-cell>{{bills.date | date}}</clr-dg-cell>
    <clr-dg-cell>{{bills.resolve_date | date}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgTotalItems]="total" [clrDgPageSize]="25">
    <clr-dg-page-size [clrPageSizeOptions]="[25,50]" i18n>bills per page</clr-dg-page-size>
      <ng-container i18n="paginator">{{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{total}} bills</ng-container>
    </clr-dg-pagination>
  </clr-dg-footer>

</clr-datagrid>
