
  <clr-main-container>
  <clr-header>
  <div class="branding">
    <a [routerLink]="['/dashboard']" class="nav-link">
      <span>
        <img src="assets/icons/android-chrome-192x192.png" alt="Family Business" height="50" width="50" />
      </span>

    </a>
  </div>

  <div class="header-nav"></div>

  <div class="header-actions">
    <clr-dropdown>
      <button class="nav-icon dropdown-toggle" aria-label="toggle settings menu" clrDropdownTrigger>
        <clr-icon shape="user"></clr-icon>
        <cds-icon shape="angle" direction="down"></cds-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-right">
        <div aria-label="Deconnexion" clrDropdownItem (click)="onDisconnect()" i18n>Deconnexion</div>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</clr-header>


<div class="content-container">

  <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="sideMenuCollapsed">


    <a clrVerticalNavLink [routerLink]="['/acceuil']" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
      <ng-container i18n>Home</ng-container>
    </a>

    <a clrVerticalNavLink [routerLink]="['/bills']" routerLinkActive="active">
      <clr-icon clrVerticalNavIcon shape="form"></clr-icon>
      <ng-container i18n>Bills</ng-container>
    </a>

  </clr-vertical-nav>


  <div class="content-area">
    <alert></alert>
    <router-outlet></router-outlet>
  </div>
</div>
</clr-main-container>
