.header{
  /*background-color: #4F9BB0;*/
  /*background-color: #4F6AB0;*/
  background-color: #4F9BB0;
}

.clr-vertical-nav{
  background-color: #4F6AB0;
}

.nav-link{
  color: white;
}

.nav-icon{
  fill: white!important;
}

.nav-link.active{
  background-color: #4F9BB0;
  color: white;
}

:host ::ng-deep .clr-control-container {
  width: 100%;
}

:host ::ng-deep clr-input-container input {
  width: 100%;
}

:host ::ng-deep clr-range-container input {
  width: 100%;
}

:host ::ng-deep .clr-select-wrapper,
:host ::ng-deep .clr-select {
  width: 100%;
}

:host ::ng-deep clr-dg-page-size .clr-select-wrapper{
  width: auto;
}

:host ::ng-deep .hf-search-wrapper > .hf-search,
:host ::ng-deep .hf-search-select-input,
:host ::ng-deep .hf-search-input-text-container {
  width: 100%;
}

:host ::ng-deep .clr-input-wrapper > .clr-input{
  width: 100%;
}

:host ::ng-deep .clr-input-wrapper{
  width: 100%;
  max-width: 100%;
}

:host ::ng-deep .clr-input-wrapper > .clr-input-group{
  max-width: 100%;
  width: 100%;
  padding-right: 0.4rem;
}

:host ::ng-deep .clr-input-wrapper > .clr-input-group > input{
  width: calc(100% - 1rem);
}

:host ::ng-deep .clr-textarea-wrapper,
:host ::ng-deep .clr-textarea-wrapper > textarea{
  width: 100%;
}


:host ::ng-deep .clr-control-container > clr-combobox{
  display: inline-grid;
  width: 100%;
}

:host ::ng-deep .header-nav > clr-input-container {
 margin-top: 18px;
 color: white;
}

.btn-header{
  margin-top: 10px;
}
